asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==3.2.6
django-admin-list-filter-dropdown==1.0.3
djangorestframework==3.12.4
et-xmlfile==1.1.0
excel2json==1.0.1
excel2json-3==0.1.6
idna==3.2
mssql-django==1.0
openpyxl==3.0.7
pyodbc==4.0.31
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.6
xlrd==2.0.1
